{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">POST</button>
        </form>
    </div>

{% endblock content %}

<!-- SOME DESCRPITIONS

enctype="multipart/form-data"   : Must add this if you want to add image from form
csrf_token  : Must add this to every form (Cross Site Request Forgery protection)
form.as_p   : Render Django Forms as paragraph
form|crispy : Render Django Forms from crispy

 -->